<a href="https://colab.research.google.com/github/jesusrodinho/desktop-tutorial/blob/main/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicios

In [3]:
#Land Calculation
# TOTAL_ACRE = 43500
square_feet = float(input("Insert the total number of square feet in the tract: "))
# total = square_feet / TOTAL_ACRE
print(f"The total number of acres in the tract is {total}")

Insert the total number of square feet in the tract: 90414981
The total number of acres in the tract is 0.11494252873563218

In [6]:
#Mas reducido
square_feet = float(input("Insert the total number of square feet in the tract: "))
print(f"The total number of acres in the tract is {square_feet /43500}")

Insert the total number of square feet in the tract: 5
The total number of acres in the tract is 0.00011494252873563218

In [9]:
#Total Purchase
TAX = 6/100
item_1 = float(input("Ingprese el valor del item 1: $"))
item_2 = float(input("Ingprese el valor del item 2: $"))
item_3 = float(input("Ingprese el valor del item 3: $"))
item_4 = float(input("Ingprese el valor del item 4: $"))
item_5 = float(input("Ingprese el valor del item 5: $"))
subtotal = item_1 + item_2 + item_3 + item_4 + item_5
sales_tax = subtotal * TAX
amount = subtotal + sales_tax
print(f"Subtotal: ${subtotal}\nSales Tax: ${sales_tax}\nTotal: ${amount}")

Ingprese el valor del item 1: $100
Ingprese el valor del item 2: $150
Ingprese el valor del item 3: $90
Ingprese el valor del item 4: $75
Ingprese el valor del item 5: $82
Subtotal: $497.0
Sales Tax: $29.82
Total: $526.82

In [16]:
SPEED = 60
TIME_1 = 5
TIME_2 = 8
TIME_3 = 12
distance_1 = TIME_1 * SPEED
distance_2 = TIME_2 * SPEED
distance_3 = TIME_3 * SPEED
print(f"Las distancias recorridas a {SPEED} millas/hora son:")
print(f"-{distance_1} Millas en {TIME_1} horas")
print(f"-{distance_2} Millas en {TIME_2} horas")
print(f"-{distance_3} Millas en {TIME_3} horas")

Las distancias recorridas a 60 millas/hora son:
-300 Millas en 5 horas
-480 Millas en 8 horas
-720 Millas en 12 horas

In [19]:
print("dijo q estaba \"facil\"")

dijo q estaba "facil"